h1 {
    font-size: 50px;
    text-shadow: 2px 2px whitesmoke;
    color: rgb(110, 216, 142);
    background-color: darkorange;
    border-radius: 15px;
    padding: 10px;
    margin-left: 15px;
    float: left;
    
    }
body {
    width:960px;
    margin: 0 auto;
    background-color: rgb(177, 174, 174);
    
}
main {
    background-color: whitesmoke;
    clear: both;
}

header {
    height: 250px;
    background-color: wheat;
}



nav li {
    list-style-type: none;
    font-size: 20px;
    padding: 50px;
    margin-left: 150px;
}
a{
    text-decoration: none;
}

img { 
    height: 350px;
    width: 500px;
    margin-left: 100px;
    
}

article{
    width: 60%; 

}
aside {
  height: 400px;
  width: 20%;
  background-color: turquoise;
  float: right;
}


footer {
    background-color: whitesmoke;
    height: 250px;
    clear: both;
}